<% provide :title, t("static_pages.home.title") %>
<div class="center jumbotron">
  <h1><%= t("static_pages.home.welcome")%></h1>
  <h2>
    <%= t("static_pages.home.content1")%>
    <%= link_to t("static_pages.home.content2"), "http://www.railstutorial.org/" %>
    <%= t("static_pages.home.content3")%>
  </h2>
  <%= link_to t("static_pages.home.sign_up"), '#', class: "btn btn-lg btn-primary" %>
</div>
